{% extends 'SuperAdmin/SuperAdminNavbar.html' %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<br>



<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Button Example <small>Users</small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <form method="get">
                      <div class="row">
                        <div class="form-group col-sm-4 col-md-3">
                          {{ MyFilter.form.username.label_tag }}
                          {% render_field MyFilter.form.username class="form-control" %}
                        </div>
                        <div class="form-group col-sm-4 col-md-3">
                          {{ MyFilter.form.first_name.label_tag }}
                          {% render_field MyFilter.form.first_name class="form-control" %}
                        </div>
                        <div class="form-group col-sm-4 col-md-3">
                          {{ MyFilter.form.last_name.label_tag }}
                          {% render_field MyFilter.form.last_name class="form-control" %}
                        </div>
                        <div class="form-group col-sm-8 col-md-6">
                          {{ MyFilter.form.MinistryName.label_tag }}
                          <div>
                            {% for choice in MyFilter.form.MinistryName %}
                              <label class="checkbox-inline">
                                {{ choice.tag }} {{ choice.choice_label }}
                              </label>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Search
                      </button>
                </form>
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <table class="table" id="datatable-buttons"  style="width:100%">
                            <thead>
                                <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">Patient Name</th>
                                      <th scope="col">Patient Phone Number</th>
                                      <th scope="col">Hospital Name</th>
                                      <th scope="col">Oxygen Cylinder Booking Status</th>
                                      <th></th>

                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                 {% for booking_oxygen_cylinder in booking_oxygen_cylinder %}
                                      <th scope="row">{{ forloop.counter }}</th>
                                      <td>{{ booking_oxygen_cylinder.patient_name }}</td>
                                      <td>{{ booking_oxygen_cylinder.patient_name.phone_number }}</td>
                                      <td>{{ booking_oxygen_cylinder.hospital_name }}</td>
                                      <td>{{ booking_oxygen_cylinder.status }}</td>
                                      <td>
                                          <a href="{% url 'oxygen_cylinder_booking_status_change' booking_oxygen_cylinder.pk %}" class="btn btn-primary">Booking Status Update</a>
                                      </td>
                                 {% endfor %}
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}