{% extends 'Base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if message %}
        <div class="col-md-12 text-center">
            <div class="card" style="border: 1px solid #de2222; background-color: antiquewhite; padding: 50px 20px; margin: 0px 0 50px 0;">
                <div class="card-body text-center">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endif %}
    <form id="appointment-form" role="form" method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
            <h2>Create A Account</h2>
        </div>
        <div class="col-md-9 col-sm-9">
            <label for="username">User Name * </label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" required>
        </div>
        <div class="col-md-9 col-sm-9">
            <label for="phone_number">Phone Number * </label>
            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter Your Phone Number" required>
        </div>
        <div class="col-md-9 col-sm-9">
            <label for="email">Email * </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-md-9 col-sm-9">
            <label for="password">Password *</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" required>
        </div>
        <div class="col-md-9 col-sm-9">
            <label for="password1">Confirm Password *</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Confirm Password" required>
        </div>
        <div class="col-md-9 col-sm-9">
            <label for="nid_image">NID Image</label>
             <input type="file" class="form-control-file" id="nid_image" name="nid_image">
        </div>

        <div class="col-md-9 col-sm-9">
            <br><br>
            <input type="submit" class="form-control" name="submit">
        </div>
    </form>

{% endblock content %}
